.box__formTutorIni{
    padding: 2% 2%;
    margin: 2rem 5% 4rem 5%;
}

.TitleFormTutorIni{
    text-align: center;
}

.checkbox.mode{
    margin-right: 1rem;
}

@media screen and (max-width: 768px) {
    label{
        text-align: center;
    }
  }