
  .fila {
    display: table-row;
  }

  .colum {
    font-size: 12px;
    display: table-cell;
    border-style: solid;
    border-top-style:  none;
    border-left-style:  none;
    border-width: 1px;
    padding: 2px 2px;
    width: 120px;
    text-align: center;
    color: #EAEAEA;
    border-color: black;
  }

  .colum__hora {
    font-size: 12px;
    display: table-cell;
    border-style: solid;
    border-top-style:  none;
    border-width: 1px;
    padding: 2px 2px;
    width: 120px;
    text-align: center;
    color: black;
  }

  #fila__00 .colum{
    background-color:cornflowerblue;
    color: black;
    border-top-style: solid;
  }

  #f_01_c_01{
    background-color: orangered;
  }