  footer{
    background-color: var(--color1);
    margin-top: 0.75rem;
    padding: 0 2%;
  }

  footer .colum{
    background-color: var(--color1);
    padding-left: 2%;
  }

  #box_column_one{
    background-color: var(--color1);
    color: var(--color5);
  }