/*Se configura en contenedor del formulario, específicamente el borde*/
.container__form {
    font-size: 12px;
}

/*Se configura el título del formulario*/
#title__form {  
    background-color: cornflowerblue;
    opacity: 0.85;
    color: black;
    text-align: center;
    padding: 5px 5px;
    margin-bottom: 1%;
}

/*Se configura el background del formulario*/
#formulario{
    background-color: #252A34;
    opacity: 0.95;
    padding-top: 1.5%;
}

/*Para configurar los inputs del formulario con clase contact*/
.contact {
    display: block;
    width: 90%; 
    padding: 12px 20px;
    margin: 1.5% 5% 0 5%;
    box-sizing: border-box;
    border: 2px solid #252A34;
    border-radius: 6px;
    text-align:justify;
    background-color: #EAEAEA;
}

/*Se configura el input tipo textarea*/
#ftarea {
    background-color: #EAEAEA;
    height: 100px;
    resize: none;
    margin-bottom: 8px;
}

/*Se configura el botón submit*/
#fsubmit{
    width: 30%;
    margin: 0 35% 0 35%;
    padding: 6px 6px;
    box-sizing: border-box;
    border: 3px solid #252A34;
    background-color: #EAEAEA;
    border-radius: 20px;
    margin-bottom: 1%;
}