<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- El Normalize se usa para reiniciar todos los estilos que impone el navegador -->
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <!-- Mi Estilo -->
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/info_monitor.css">
    <link rel="stylesheet" type="text/css" href="../static/css/calendar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/contact-form.css">

    <title>Base</title>
</head>
<body>
    <div class="logo"><img src="../static/images/PLASIRO.png"></div>
    <div class="list__head">
        <ul>
            <div id="list__li">
                <!-- Elementos de la lista --> 
                <li><a class="active" href="/">Inicio</a> </li>
                <li><a href="/info_monitor">Buscar</a></li>
                <li><a href="/">Dar monitoría</a></li>
                <li><a href="/">Ingresar</a></li>
                <li><a href="/">About</a></li>
            </div>
        </ul>
    </div>
    
    <div>
        {% block body %}
        {% endblock %}
    </div>

    <footer>
        <div class="list__footer">
            <ul>
                <!-- Elementos de la lista --> 
                <li><a class="active" href="/">Inicio</a> </li>
                <li><a href="/info_monitor">Buscar</a></li>
                <li><a href="/">Dar monitoría</a></li>
                <li><a href="/">Ingresar</a></li>
                <li><a href="/">About</a></li>
            </ul>
        </div>
        <div class="list__footer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui suscipit maiores sed magni tempora quis! Ad, asperiores quam repellendus dolorem eos autem inventore odio dignissimos ea facilis ab dolores at!</p>
        </div>
        <div class="list__footer">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, quam beatae debitis dolorum nihil qui numquam maxime, corrupti quaerat earum vitae blanditiis deleniti. Ut aspernatur quam deserunt reprehenderit, sunt eaque.</p>
        </div>
        <div class="list__footer">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quam ut expedita modi laudantium est tempore corporis, dolores necessitatibus id nemo cum, explicabo ad nihil deserunt aperiam consectetur mollitia impedit!</p>
        </div>
    </footer>
    
</body>
</html>