* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

.calendar__title {
text-align: center;
color: var(--color1); 
}
.calendar {
background: #f7d547;
color: black;
width: 80%;
margin: 1em auto;
padding: .5em .5em; 
border-radius: 15px;
border-style: solid;
border-color: black;
}
.calendar__info {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em;
    font-size: auto;
    text-transform: uppercase;
}
.calendar__prev button, .calendar__next button{
    cursor: pointer;
    font-size: 1.3em; 
}
.calendar__prev {
    margin-right: auto; 
}
.calendar__next {
    margin-left: auto; 
}

.calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: auto; 
}
.calendar__month, .calendar__year {
    padding: .5em 1em; 
}
.calendar__item {
    text-align: center;
    line-height: 2;     
}
.calendar__item__botton:hover {
    box-shadow: inset 0 0 20px var(--color2), 0 0 20px var(--color2);
    outline-color: var(--color1);
    outline-offset: 80px;
    background-color: var(--color2);
    color: var(--color7) !important;
    border-color: var(--color1);
    border-radius: 10px;
    cursor: pointer;
}
.calendar__today {
    background: lightcoral;
    color: white;
    width: 50%;
    border-radius: 50%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .calendar__prev, .calendar__next {
        font-size: small;
    }
    .calendar__month, .calendar__year {
        padding: .5em 0.4em; 
    }
    .calendar__info{
        padding: 0 0.5em;
    }
    .calendar{
        overflow: auto;
    }
}

@media screen and (orientation: portrait){
    .calendar__week{
        width: max-content;
    }
    .calendar__dates{
        grid-gap: 1rem;
    }
}