.block__inicio__horario__select{
    width: 80%;
    margin: 0 10%;
    display: inline-block;
    padding: 0.4rem 0.5rem;
}
.block__final__horario__select{
    width: 80%;
    display: inline-block;
    margin: 0 10%;
    padding: 0.4rem 0.5rem;
}

@media screen and (max-width: 768px) {
    .block__inicio__horario__select{
        width: 90%;
        margin: 5% 5%;
        display: block;
    }
    .block__final__horario__select{
        width: 90%;
        margin: 5% 5%;
        display: block;
    }
}

.fecha__hora{
    text-align: center;
}

.set__fecha__hora{
    height: 2rem;
    width: 100%;
}

.info__date__agendar{
    height: 20rem; 
    width: 100%;
    overflow: scroll;
}   