#reservar {
    margin-top: 1rem;
    background-color: var(--color5); /* Black background color */
    position: fixed; /* Make it stick/fixed */
    width: 80%; /* Full width */
    height: 5rem;
    transition: top 0.6s;
    z-index: 3;
}

#infoTutorBox{
  padding: 0 10%;
  background-color: var(--color7);
  height: auto;
  padding-top: 2rem;
}

#infoBox{
  position: relative; /* Make it stick/fixed */
  transition: top 0.6s;
}

.image.is-128x128{
  width: 25%;
  height: 240px;
  display: inline-block;
}

.image.is-128x128 img{
  width: 180px;
  height: 240px;
  margin: 0 15px 0 15px;
}

.info__basic.block{
  display: inline-block;
  width: 75%;
  padding-top: 0;
  padding-bottom: 0;
}

.subtitle strong, p{
  display: inline-block;
}


@media screen and (max-width: 1150px) {
  .image.is-128x128{
    display: block;
    width: 80%;
    margin: 0 0 0 10%;
  }
  .info__basic.block{
    display: block;
    width: 100%;
  }
}

