  :root {
    --color1: #270949;
    --color2: #4654A3;
    --color3: #F95B3D;
    --color4: #FEB7C7;
    --color5: #FFFFFF;
    --color6: #FFFF00;
    --color7: #dddfe9;
    --color8: #363636;
  }   


  .navbar-item{
    height: 40%;
    margin-top: 18%;
    font-size: 25px;
  }

  .navbar-item img{
    max-height: none;
  }

  .navbar-brand .navbar-item{
    height: 100%;
    margin-top: 0;
  }

  .navbar-end .navbar-item{
    margin-top: 36%;
    margin-right: 5%;
  }

  .navbar-end .navbar-item .button{
    margin-bottom: 0.5%;
    margin-left: 2rem;
  }

  .navbar-burger{
    padding:  5rem 0;
  }

  .navbar-burger span{
    width: 1.8rem;
  }
