{% extends 'layout.html' %}
{% block body %}

<div id="box">
    <div id="left__colum" >
        <div id="left__colum__1">
            <div id="left__colum__1__1">
                <img id="foto" src="../static/images/yo.png" alt="">
            </div>
            <div id="left__colum__1__2">
                <div id="monitor__name"><p><b>Anderson Castro</b></p></div>
                <div id="modalidades">
                    <p>Precensial</p>
                    <p>Virtual</p>
                </div>
                <div class="other__basic__info">
                    <p>Matemáticas, Física</p>
                    <p>Santa Marta</p>
                </div>
            </div>
        </div>
        <div id="left__colum__2">
            <div class="block__info" id="block1__info">
                <p class="sutitulo">Presentación</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis accusamus debitis, architecto nisi itaque animi quaerat similique minima placeat at, natus deleniti dolorum impedit eligendi sequi numquam! Quis, at omnis.
                </p>
            </div>
            <div class="block__info" id="block2__info">
                <p class="sutitulo">Idiomas</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis accusamus debitis, architecto nisi itaque animi quaerat similique minima placeat at, natus deleniti dolorum impedit eligendi sequi numquam! Quis, at omnis.
                </p>
            </div>
            <div class="block__info" id="block3__info">
                <p class="sutitulo">Habilidades</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis accusamus debitis, architecto nisi itaque animi quaerat similique minima placeat at, natus deleniti dolorum impedit eligendi sequi numquam! Quis, at omnis.
                </p>
            </div>
        </div>
    </div>
    <div id="rigt__colum">
        
        <!-- Calendar -->

        <div id="rigt__colum__1">
            <div class="fila" id="fila__00">
                <div class="colum">Hora</div>
                <div class="colum">Lunes</div>
                <div class="colum">Martes</div>
                <div class="colum">Miércoles</div>
                <div class="colum">Jueves</div>
                <div class="colum">Viernes</div>
                <div class="colum">Sábado</div>
            </div>
            
            <div class="fila" id="fila__01">
                <div class="colum__hora" id="f_01_c_00">07:00</div>
                <div class="colum" id="f_01_c_01">Taked</div>
                <div class="colum" id="f_01_c_02">Taked</div>
                <div class="colum" id="f_01_c_03">Taked</div>
                <div class="colum" id="f_01_c_04">Taked</div>
                <div class="colum" id="f_01_c_05">Taked</div>
                <div class="colum" id="f_01_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__02">
                <div class="colum__hora" id="f_02_c_00">08:00</div>
                <div class="colum" id="f_02_c_01">Taked</div>
                <div class="colum" id="f_02_c_02">Taked</div>
                <div class="colum" id="f_02_c_03">Taked</div>
                <div class="colum" id="f_02_c_04">Taked</div>
                <div class="colum" id="f_02_c_05">Taked</div>
                <div class="colum" id="f_02_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__03">
                <div class="colum__hora" id="f_03_c_00">09:00</div>
                <div class="colum" id="f_03_c_01">Taked</div>
                <div class="colum" id="f_03_c_02">Taked</div>
                <div class="colum" id="f_03_c_03">Taked</div>
                <div class="colum" id="f_03_c_04">Taked</div>
                <div class="colum" id="f_03_c_05">Taked</div>
                <div class="colum" id="f_03_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__04">
                <div class="colum__hora" id="f_04_c_00">10:00</div>
                <div class="colum" id="f_04_c_01">Taked</div>
                <div class="colum" id="f_04_c_02">Taked</div>
                <div class="colum" id="f_04_c_03">Taked</div>
                <div class="colum" id="f_04_c_04">Taked</div>
                <div class="colum" id="f_04_c_05">Taked</div>
                <div class="colum" id="f_04_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__05">
                <div class="colum__hora" id="f_05_c_00">11:00</div>
                <div class="colum" id="f_05_c_01">Taked</div>
                <div class="colum" id="f_05_c_02">Taked</div>
                <div class="colum" id="f_05_c_03">Taked</div>
                <div class="colum" id="f_05_c_04">Taked</div>
                <div class="colum" id="f_05_c_05">Taked</div>
                <div class="colum" id="f_05_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__06">
                <div class="colum__hora" id="f_06_c_00">12:00</div>
                <div class="colum" id="f_06_c_01">Taked</div>
                <div class="colum" id="f_06_c_02">Taked</div>
                <div class="colum" id="f_06_c_03">Taked</div>
                <div class="colum" id="f_06_c_04">Taked</div>
                <div class="colum" id="f_06_c_05">Taked</div>
                <div class="colum" id="f_06_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__07">
                <div class="colum__hora" id="f_07_c_00">13:00</div>
                <div class="colum" id="f_07_c_01">Taked</div>
                <div class="colum" id="f_07_c_02">Taked</div>
                <div class="colum" id="f_07_c_03">Taked</div>
                <div class="colum" id="f_07_c_04">Taked</div>
                <div class="colum" id="f_07_c_05">Taked</div>
                <div class="colum" id="f_07_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__08">
                <div class="colum__hora" id="f_08_c_00">14:00</div>
                <div class="colum" id="f_08_c_01">Taked</div>
                <div class="colum" id="f_08_c_02">Taked</div>
                <div class="colum" id="f_08_c_03">Taked</div>
                <div class="colum" id="f_08_c_04">Taked</div>
                <div class="colum" id="f_08_c_05">Taked</div>
                <div class="colum" id="f_08_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__09">
                <div class="colum__hora" id="f_09_c_00">15:00</div>
                <div class="colum" id="f_09_c_01">Taked</div>
                <div class="colum" id="f_09_c_02">Taked</div>
                <div class="colum" id="f_09_c_03">Taked</div>
                <div class="colum" id="f_09_c_04">Taked</div>
                <div class="colum" id="f_09_c_05">Taked</div>
                <div class="colum" id="f_09_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__10">
                <div class="colum__hora" id="f_10_c_00">16:00</div>
                <div class="colum" id="f_10_c_01">Taked</div>
                <div class="colum" id="f_10_c_02">Taked</div>
                <div class="colum" id="f_10_c_03">Taked</div>
                <div class="colum" id="f_10_c_04">Taked</div>
                <div class="colum" id="f_10_c_05">Taked</div>
                <div class="colum" id="f_10_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__11">
                <div class="colum__hora" id="f_11_c_00">17:00</div>
                <div class="colum" id="f_11_c_01">Taked</div>
                <div class="colum" id="f_11_c_02">Taked</div>
                <div class="colum" id="f_11_c_03">Taked</div>
                <div class="colum" id="f_11_c_04">Taked</div>
                <div class="colum" id="f_11_c_05">Taked</div>
                <div class="colum" id="f_11_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__12">
                <div class="colum__hora" id="f_12_c_00">18:00</div>
                <div class="colum" id="f_12_c_01">Taked</div>
                <div class="colum" id="f_12_c_02">Taked</div>
                <div class="colum" id="f_12_c_03">Taked</div>
                <div class="colum" id="f_12_c_04">Taked</div>
                <div class="colum" id="f_12_c_05">Taked</div>
                <div class="colum" id="f_12_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__13">
                <div class="colum__hora" id="f_13_c_00">19:00</div>
                <div class="colum" id="f_13_c_01">Taked</div>
                <div class="colum" id="f_13_c_02">Taked</div>
                <div class="colum" id="f_13_c_03">Taked</div>
                <div class="colum" id="f_13_c_04">Taked</div>
                <div class="colum" id="f_13_c_05">Taked</div>
                <div class="colum" id="f_13_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__14">
                <div class="colum__hora" id="f_14_c_00">20:00</div>
                <div class="colum" id="f_14_c_01">Taked</div>
                <div class="colum" id="f_14_c_02">Taked</div>
                <div class="colum" id="f_14_c_03">Taked</div>
                <div class="colum" id="f_14_c_04">Taked</div>
                <div class="colum" id="f_14_c_05">Taked</div>
                <div class="colum" id="f_14_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__15">
                <div class="colum__hora" id="f_15_c_00">21:00</div>
                <div class="colum" id="f_15_c_01">Taked</div>
                <div class="colum" id="f_15_c_02">Taked</div>
                <div class="colum" id="f_15_c_03">Taked</div>
                <div class="colum" id="f_15_c_04">Taked</div>
                <div class="colum" id="f_15_c_05">Taked</div>
                <div class="colum" id="f_15_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__16">
                <div class="colum__hora" id="f_16_c_00">22:00</div>
                <div class="colum" id="f_16_c_01">Taked</div>
                <div class="colum" id="f_16_c_02">Taked</div>
                <div class="colum" id="f_16_c_03">Taked</div>
                <div class="colum" id="f_16_c_04">Taked</div>
                <div class="colum" id="f_16_c_05">Taked</div>
                <div class="colum" id="f_16_c_06">Taked</div>
            </div>
        
            <div class="fila" id="fila__17">
                <div class="colum__hora" id="f_17_c_00">23:00</div>
                <div class="colum" id="f_17_c_01">Taked</div>
                <div class="colum" id="f_17_c_02">Taked</div>
                <div class="colum" id="f_17_c_03">Taked</div>
                <div class="colum" id="f_17_c_04">Taked</div>
                <div class="colum" id="f_17_c_05">Taked</div>
                <div class="colum" id="f_17_c_06">Taked</div>
            </div>
        </div>

        <div id="rigt__colum__2">
            
            <!-- Formulario de contacto -->
            <div class="container__form">
                <div id="title__form">
                    <h3>Formulario de contacto</h3>
                </div>
                <form id="formulario">
                    <input type="text" class="contact" id="fname" name="fname" 
                    placeholder="Nombre completo">
                    <input type="email" class="contact" id="femail" name="femail" placeholder=" E-mail">
                    <input type="text" class="contact" maxlength="10" placeholder="Teléfono Ej: 3047893109" pattern="[0-9]{10}">
                    <textarea class="contact" name="ftarea" id="ftarea">Necesito colaboración con...</textarea>
                    <input id="fsubmit" name="fsubmit" type="submit" value="Contactar">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}